@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* -------------------------------------------------------------------------------------------------
    * color variables
    * -----------------------------------------------------------------------------------------------*/

    --primary: 5 157 255;

    /* -------------------------------------------------------------------------------------------------
    * navbar variables
    * -----------------------------------------------------------------------------------------------*/
    --navbar-height: 100px;
    --navbar-shrinked-height: 72px;
    --navbar-background-color: #fff;
}

* {
    @apply scroll-smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply text-gray-600;
}

::selection {
    @apply bg-primary/20;
}

::-moz-selection {
    @apply bg-primary/20;
}

@layer base {
    h1 {
        @apply text-4xl leading-tight sm:text-5xl sm:leading-tight font-bold;
    }

    h2 {
        @apply text-3xl leading-tight sm:text-4xl sm:leading-tight font-bold;
    }

    h3 {
        @apply text-2xl sm:text-3xl font-semibold;
    }

    h4 {
        @apply text-xl sm:text-2xl font-semibold;
    }

    h5 {
        @apply text-lg sm:text-xl font-semibold;
    }

    h6 {
        @apply text-base sm:text-lg font-semibold;
    }

    p {
        @apply text-base leading-relaxed sm:text-lg sm:leading-relaxed;
    }
}

@layer components {
    .container {
        @apply mx-auto px-6;
    }

    .btn {
        @apply inline-flex font-medium rounded-full;
    }

    .btn-primary {
        @apply bg-primary text-white transition-all duration-300 hover:brightness-110;
    }

    .btn-lg {
        @apply text-base lg:text-lg px-6 py-2;
    }

    .card-shadow {
        box-shadow: 0 0 5px rgba(39, 25, 77, 0.02), 0 3px 20px rgba(112, 81, 239, 0.04),
            0 10px 28px rgba(39, 25, 77, 0.03);
    }
}
