@mixin gradient-after($background-gradient) {
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transition: all ease 1200ms;
        opacity: 0;
        z-index: -2;
        background: $background-gradient;
    }

    &.active:after {
        opacity: 1;
    }
}

.bluish-gradient {
    @include gradient-after(
        linear-gradient(0deg, rgb(var(--primary) / 1%), rgb(var(--primary) / 5%), rgb(var(--primary) / 10%))
    );
}

.greenish-gradient {
    @include gradient-after(
        linear-gradient(0deg, rgb(var(--greenish) / 1%), rgb(var(--greenish) / 5%), rgb(var(--greenish) / 10%))
    );
}

.purplish-gradient {
    @include gradient-after(
        linear-gradient(0deg, rgb(var(--purplish) / 1%), rgb(var(--purplish) / 5%), rgb(var(--purplish) / 10%))
    );
}

.orangish-gradient {
    @include gradient-after(
        linear-gradient(0deg, rgb(var(--orangish) / 1%), rgb(var(--orangish) / 5%), rgb(var(--orangish) / 10%))
    );
}
