.heading-wrapper {
    @apply flex items-center gap-2 border-b border-gray-200 pb-2;
}

.heading {
    @apply text-sm font-semibold uppercase;
}

.heading-icon {
    @apply flex justify-center items-center w-5 h-5 border border-gray-700 rounded-full;
}

.page {
    margin: 1cm auto;
    background: #fff;
    box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2), 0 -4px 5px rgba(75, 75, 75, 0.1);
    outline: 0;
    width: 21cm;
    min-height: 29.7cm;
    padding-left: 1cm;
    padding-top: 1cm;
    padding-right: 1cm;
    padding-bottom: 1cm;
}

@media print {
    .page {
        width: initial !important;
        min-height: initial !important;
        margin: 0 !important;
        padding: 0 !important;
        border: initial !important;
        border-radius: initial !important;
        background: initial !important;
        box-shadow: initial !important;
        page-break-after: always;
    }
}

@page {
    size: A4 portrait;
    margin-left: 1cm;
    margin-top: 1cm;
    margin-right: 1cm;
    margin-bottom: 1cm;
}
